<!-- index_header.html -->
<header class="header">
    <a href="#" class="logo">TransitXpress</a>
    <input type="checkbox" id="check">
    <label for="check" class="icons">
        <i class='bx bx-menu' id="menu-icon"></i>
        <i class='bx bx-x' id="close-icon"></i>
    </label>
    <nav class="navbar">
        <a class="active" href="{% url 'index' %}">Home</a>
        <a href="{% url 'routes' %}">Routes</a>
        <a href="{% url 'tickets' %}">Your Tickets</a>
        <a href="{% url 'parcel_delivery' %}">Parcel Delivery</a>
        {% if user.is_authenticated %}
            <a href="logout" >Welcome, {{user.username}}_____logout</a>
        {% else %}
            <a href="register" >Login/SignUp</a>
        {% endif %}
    </nav>
</header>
